<h3 class = "espacio"> Lista de usuarios </h3>

<div class=" espacio table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope = "col">id</th>
      <th scope = "col">Name</th>
      <th scope = "col">Nickname</th>
      <th scope = "col">Email</th>
    </tr>
  </thead>
  <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%=user.id%>  </td>
            <td><%= best_in_place user, :name, as: :input %></td>
            <td> <%=user.nickname%></td>
            <td><%=user.email%></td>
          </tr>
        <% end %>
  </tbody>
</table>
</div>

<h3 class = "espacio"> Lista de categorias </h3>
<table class="table">
  <div class="container">
    <div class="row">
      <div class="col espacio">
        <% @categorias.each do |categoria| %>
          <div><%=categoria.peso%></div>
          <% end %>
        </div>
      </div>
    </div>
</table>
</div>
